<!DOCTYPE html>
<html>
<head>
	<title>Chart</title>
	<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
</head>
<body ng-app="App" ng-controller="AppCont">

	<!-- <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> -->

  <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>



<div>
  <!-- <script src="lib/angular.min.js"></script>  -->
  <!-- jquery, moment, and angular have to get included before fullcalendar -->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
  <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
  <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>

</div>

<script type="text/javascript">
	
  (function(){

    var app = angular.module('App', ['ui.calendar'])


      

    app.controller('AppCont', function($scope) {

      $scope.custom = {
        url: "http://www.google.com/calendar/feeds/indian__en%40holiday.calendar.google.com/public/basic",
        // className: 'gcal-event',           // an option!,
        currentTimezone: 'India', // an option!
        googleCalendarApiKey: 'AIzaSyCc5LZyMQ2pBB1dAJerfliEEu0P8hMUVwg'
      };
        /* config object */
        $scope.eventSources = [$scope.custom];

        // $scope.uiCalendarConfig.calendars.myCalendar = {};

        $scope.uiConfig = {
          calendar:{
            height: 500,
            editable: false,
            header:{
              left: 'title',
              center: '',
              right: 'today prev,next'
            },
            // viewRender: function(view, element) {
            //     $log.debug("View Changed: ", view.visStart, view.visEnd, view.start, view.end);
            // },
            eventClick: $scope.alertEventOnClick,
            eventDrop: $scope.alertOnDrop,
            eventResize: $scope.alertOnResize
          }
        };
    });






      
    












  })();
      
</script>

</body>
</html>